.App {
}

.App-header {
  position: static;
  background-color: #222;
  padding: 10px;
  color: white;
  text-align: center;
  z-index: 10;
}

.App-title {
  font-size: 1.5em;
}

.flexbox {
  display: flex;
  height: 100%;
  width: 100%;
}

.slider {
  display: flex;
  position: fixed;
  right: 50px;
  bottom: 10px;
  z-index: 10;
}

.distance {
  padding-right: 10px
}
