h1 {
  line-height: 0px;
}

.App-header {
  position: static;
  background-color: #222;
  padding: 10px;
  color: white;
  text-align: center;
  z-index: 10;
}

.App-title {
  font-size: 1.5em;
}

.flexbox {
  display: flex;
  height: 100%;
  width: 100%;
}

.slider {
  display: flex;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 10;
  padding: 10px;
  background:rgb(0,0,0);
  background:rgba(0,0,0,0.5);
}

.slider-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.distance {
  padding-right: 10px
}
